
a:link{
	text-decoration: none;
}

.topo-0{
	background-color: #d30000;
	padding: 8px 0;
}

.texto-topo-0{
	font-family: "Poppins", sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
}

.texto-topo-0 span{
	color: #FCE900;
}

.topo-1{
	background-color: #000b2e;
	padding: 40px 0;    
}

.container-svg{
	direction: ltr;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: -1px;
}

.container-svg svg{
	width: calc(5% + 1.3px);
    height: 25px;
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    fill: #000b2e;
}	

.topo-2{
	background-color: #fff;
	position: relative;
	padding: 0 0 40px 0;
}

.fundo-kit{
	border: 3px solid #000b2e;
    background-color: #fff;
    padding: 0 0 15px 0;
    margin-top: 40px;
    border-radius: 25px;
}

.topo-1-kit{
	border-radius: 20px 20px 0 0;
	background-color: #000b2e;
	padding: 15px 10px;
}

.titulo-kit{
	font-family: "Poppins", Sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    color: #fff;
}

.subtitulo-kit{
	font-family: "Poppins", Sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: #fff;
}

.img-kit{
	width: auto;
	height: auto;
	max-width: 80%;
}

.container-prod{
	padding: 10px;
}

.subtitulo-kit-1{
	display: none;
}

.preco{
	font-family: "Roboto", Sans-serif;
    font-size: 4em;
    line-height: 1;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
}

.preco small{
    font-size: 28px !important;
}

.preco-por{
	font-family: "Roboto", Sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #000;
    margin-top: 0;
}

.linha-kit{
	border: none;
	border-bottom: 1px solid #000;
}

.texto-kit{
	font-family: "Poppins", Sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.texto-kit i{
	color: #ff9000;
	margin-right: 10px;
	font-size: 1.3em;
}

.bt{
	font-family: "Poppins", Sans-serif;
    background: linear-gradient(to bottom, #ff9c00 52%, #ad6a00 52%);
    padding: 15px 40px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    max-width: 80%;
    line-height: 1.7em;
    text-align: center;
    margin: 0 auto;
}

.img-card{
	width: 180px;
	height: auto;
	max-width: 100%;
	margin: 15px auto;
}

.texto-total{
	font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2em;
    color: #000;
}

.texto-total span{
	color: #fff !important;
	background-color: #ff9000;
    padding: 6px 8px;
    border-radius: 4px;
}	

.topo-3{
	background-color: #fff;
	padding: 40px 0;
}

.fundo-garantia{
	border-width: 5px 2px;
	border-style: solid;
    border-color: #000b2e;
    background-color: #fff;
    padding: 2em;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, .26);
    border-radius: 25px;
}

.img-garantia{
	width: 16%;
	height: auto;
	margin-bottom: 25px;
}

.titulo-garantia{
	font-family: "Poppins", Sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2em;
    color: #000b2e;
}

.subtitulo-garantia{
	font-family: "Poppins", Sans-serif;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.2em;
    color: #000;
}

.container-garantia{
	width: 80%;
	margin: 35px auto 15px auto;
}

.texto-garantia{
	font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    color: #000;
    text-align: left;
}

.texto-quality{
	font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    color: #fff;
}

.img-selo{
	width: 75%;
	height: auto;
	margin-top: 20px;
}

.topo-4{
	padding: 40px 0;
	background-color: transparent;
    background-image: linear-gradient(90deg, #000b2e 0%, #001c75 100%);
}

.texto-estrela i{
	color: #fcd600;
	font-size: 22px;
	margin: 0px 5px;
}

.titulo-quality{
	font-family: "Poppins", Sans-serif;
    font-size: 2.2em;
    font-weight: 800;
    line-height: 1.2em;
    color: #fff;
}

.topo-quality-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
}

.img-icon{
	height: 70px;
	width: auto;
	margin: 10px;
	display: inline-block;
}

.mobile{
	display: none;
}

.topo-quality-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
}

.img-icon2{
	width: 100px;
	height: auto;
	margin: 10px;
	display: inline-block;
}

.botao{
	border: none;
	background-color: #ffcb00;
    font-family: "Poppins", Sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    fill: #000;
    color: #000;
    border-radius: 200px;
    animation: pulse-white 2s infinite;
    padding: 10px 20px;
}

@keyframes pulse-white {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #ff0;
  }
  70% {
    transform: scale(1.01);
    box-shadow: 0 0 0 10px transparent;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 transparent;
  }
}

.topo-5{
	background-color: #fff;
	padding: 40px 0;
}

.topo-55{
	background-color: #fff;
	padding: 40px 0;	
}

.titulo-depo{
	font-family: "Poppins", Sans-serif;
    font-size: 2em;
    font-weight: 800;
    line-height: 1.2em;
    color: #000;
}

.subtitulo-depo{
	font-family: "Poppins", Sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em;
    color: #fff;
    padding: 0;
    margin: 30px 0 0 0;
}

.subtitulo-depo span{
	background-color: transparent;
    padding: 1em;
    background-image: linear-gradient(90deg, #000b2e 0%, #001864 100%);
    border-radius: 10px;
    padding: 10px 20px;
}

.fundo-depo{
	background-color: #e7e7e7;
	border: 2px solid #000b2e;
	padding: 1em;
	border-radius: 25px;
	display: flex;
}

.esp-topo{
	margin-top: 40px;
}

.tamanho-1-depo{
	width: 20%;
	height: auto;
}

.tamanho-2-depo{
	width: 79%;
	height: auto;
	padding-left: 20px;
}

.img-depo{
	display: block;
	width: 80%;
	height: auto;
	margin: 15px auto;
	border-radius: 50%;
}

.texto-depo{
	font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    color: #000;
}

.texto-depo2{
	font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    color: #000;
}

.topo-6{
	padding: 40px 0;
	background-color: transparent;
    background-image: linear-gradient(180deg, #d6d6d6 0%, #b8b8b8 100%);
}

.titulo-faq{
	font-family: "Poppins", Sans-serif;
    font-size: 2.4em;
    font-weight: 700;
    color: #000;
}

.accordion-item{
   background-color: #fff !important;
   border-radius: 0 !important;
   border: none !important;
   margin-top: 20px!important;
}

.accordion-item .accordion-button{
   border-bottom: 1px solid rgb(110, 110, 110, 0.5);
}

.accordion-button::after {
   fill: #000 !important;
}   

.accordion-button{
   background-color: #fff !important;
   color: #000 !important;
   font-size: 18px!important;
   font-family: "Poppins", Sans-serif;
   font-weight: 500;
}

.accordion-body{
   color: #000 !important;
   font-family: "Poppins", Sans-serif;
   font-size: 14px !important;
   font-weight: 400 !important;
}

.topo-7{
	background-color: #000b2e;
	padding: 20px 0;
}

.titulo-topo-6{
	font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: #fcfcfc;
    margin: 0;
}

.titulo-topo-6 span{
	color: #ff9000;
}

.topo-8{
	background-color: #fff;
	padding: 40px 0;
	border-top: 3px solid #ff9000;
}

.titulo-cientifco{
	font-family: "Poppins", Sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2em;
    color: #000;
}

.img-cientifico{
	width: 90%;
	height: auto;
	margin-top: 25px;
	margin-bottom: 15px;
}

.texto-cie{
	font-family: "Poppins", Sans-serif;
    font-size: .8em;
    font-weight: 500;
    line-height: 1.3em;
    color: #000;
}

.texto-cientifico{
	font-family: "Poppins", Sans-serif;
    font-size: .8em;
    font-weight: 300;
    line-height: 1.3em;
    color: #535353;
}

.rodape{
	background-color: #121212;
	padding: 40px 0 20px 0;
}

.texto-rodape{
	font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
}

.texto-rodape a{
	text-decoration: none;
	color: #fff;
	margin: 10px 5px;
}

.texto-rodape a:hover{
	text-decoration: none;
	color: #fff;
}	

.texto-rodape2{
	font-family: "Poppins", Sans-serif;
    font-size: .8em;
    font-weight: 300;
    line-height: 1.2em;
    color: silver;
}

@media screen and (max-width: 600px) {

	.img-cientifico{
		width: 100%;
	}

	.titulo-cientifco{
		font-size: 1.4em;
	}	

	.titulo-topo-6{
		font-size: 20px;
        line-height: 1.2em;
	}

	.titulo-faq{
		font-size: 1.5em;
	}

	.texto-depo{
		font-size: 14px;
	}	

	.tamanho-1-depo{
		width: 100%;
		height: auto;
	}

	.tamanho-2-depo{
		width: 100%;
		height: auto;
		padding: 0px auto;
	}

	.img-depo{
		width: 50%;
		height: auto;
	}

	.fundo-depo{
		display: block;
	}

	.subtitulo-depo{
		font-size: 1.4em;
	}	

	.titulo-depo{
		font-size: 1.8em;
	}

	.img-icon2{
		width: 80px;
		margin: 10px auto;
	}

	.img-icon{
		height: 50px;
		margin: 10px auto;
	}

	.titulo-quality{
		font-size: 25px;
	}

	.img-selo{
		width: 100%;
		height: auto;
	}

	.texto-garantia{
		font-size: 16px;
	}

	.texto-quality{
		font-size: 16px;
	}

	.container-garantia{
		width: 100%;
	}

	.subtitulo-garantia{
		font-size: 1.2em;
	}	

	.titulo-garantia{
		font-size: 1.4em;
	}	

	.img-garantia{
		width: 42%;
	}	

	.img-card{
		width: 140px;
		margin: 0 auto;	
	}

	.bt{
		max-width: 80%;
		margin: 0 auto 10px auto;
	}

	.linha-kit{
		padding: 0px;
		margin: 5px 0;
	}	

	.texto-kit{
	    font-size: .8em;
	}

	.texto-kit i{
		font-size: 1.0em;
		margin-right: 3px;
	}

	.preco{
		font-size: 55px;
	}

	.preco small{
		font-size: 20px;	
	}

	.subtitulo-kit-1{
		display: block;
		font-family: "Poppins", Sans-serif;
	    font-weight: 700;
	    color: #000;
	    font-size: 1em;
	}

	.img-kit{
		width: auto;
		height: auto;
		max-width: 100%;
	}

	.tam1{
		width: 40%;
	}

	.tam2{
		width: 60%;
	}

	.container-prod{
		padding: 30px 5px;
		display: flex;
	}

	.titulo-kit{
		font-size: 30px;
	}

	.subtitulo-kit{
		display: none;
	}

	.container-svg svg{
		width: calc(20% + 1.3px);
        height: 25px;
		display: block;
	    left: 50%;
	    position: relative;
	    transform: translateX(-50%);
	}

	.texto-topo-0{
		font-size: 1.0em;
	}	

	.fundo-aamrelo{
		background: linear-gradient(to bottom, #FFB3018F, #fff);
	}

	.centralizar{
		text-align: center;
	}

}

.amarelo{
	border-color: #ff9000!important;
}

.amarelo-fundo{
	background-color: #ff9000!important;
}

.preto{
	color: #000;
}

.branco{
	color: #fff;
}